{#
/**
 *** Available variables:
 * icon_name
 * divider_class_name
 * divider_content_class_name
 * divider_content_class_name
 *
 * Usage:
 *
 * {% include "@molecules/divider/divider.twig" %}
 */
#}

{% set icon_name = icon_name|default('divider') %}
{% set divider_class_name = divider_class_name|default('divider') %}
{% set divider_content_class_name = divider_content_class_name|default('divider__content') %}
{% set divider_inner_class_name = divider_inner_class_name|default('divider-inner') %}


<div class="{{ divider_class_name }}">
    <div class="{{ divider_content_class_name }}">
      <span class="{{ divider_inner_class_name }}">
          {% include "@atoms/10-icon/01-icon.twig" %}
      </span>
    </div>
</div>
