<div class="grid grid-equalHeight">
    <div class="col">
        <div class="demo">
            <p>
            01    Lorem ipsum
            </p>
        </div>
    </div>
    <div class="col">
        <div class="demo">
            <p>
              02  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eti
        </div>
    </div>
    <div class="col">
        <div class="demo">
            <p>
                03 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at
                pulvinar felis blandit.
            </p>
        </div>
    </div>
    <div class="col">
        <div class="demo">
               04 Lorem ipsum dolo.
        </div>
    </div>
</div>
