<div class="flex flex-column">
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</div>
<div class="flex flex-column-reverse">
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</div>