<button type="button"
        data-action="aria-switch"
        aria-label="Item 1"
        aria-checked="true"
        role="switch"
        disabled>
          <span>
            On
          </span>
          <span>
            Off
          </span>
</button>

<button type="button"
        data-action="aria-switch"
        aria-labelledby="ex_label"
        aria-checked="false"
        disabled>
          <span>
            On
          </span>
          <span>
            Off
          </span>
</button>
